body {
  background-color: #333652;
}

.center {
  margin: 0 auto;
}

.underlay {
  width: 50%;
}

.current-time {
  color: #90adc6;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
}

.large-label {
  margin: 1em 3em 1em 3em;
  color: #fad02cff;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 1.2em;
}

.centered-text {
  text-align: center;
}

#clock {
  text-align: center;
}

#counter {
  text-align: center;
}

#counter span {
  color: #e9eaecff;
  font-family: "Open sans", sans-serif;
  font-size: 8em;
  font-weight: bold;
}
