body {
    background-color: #333652;
}

.center {
    margin: 0 auto;
}

.underlay {
    width: 60%;
}

.current-time {
    color: #90adc6;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
}

.large-label {
    color: #fad02cff;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}

.centered-text {
    text-align: center;
}

#clock {
    text-align: center;
}

#counter {
    display: flex;
    justify-content: center;
}

.clock-digits {
    color: #e9eaecff;
    font-family: 'Open sans', sans-serif;
    font-size: 8em;
    font-weight: bold;
}

input {
    width: 3rem;
    margin: 2em;
}

.clock-digits-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    border: solid 3px #e9eaecff;
    border-radius: 0.6em;
    color: #333652;
    padding: 0.5em 1em;
    background-color: #e9eaecff;
    margin: 1em;
    font-family: 'Open sans', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    background-color: #fad02cff;
    font-family: 'Open Sans', sans-serif;
}

#control-pannel {
    display: flex;
    justify-content: center;
    padding: 2em;
}
